@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&family=Heebo:wght@100&family=Kanit:wght@600&family=Montserrat&family=Prompt:ital,wght@0,200;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --preto: #000; 
   --dark: rgb(44, 43, 43);
   --branco: #fff;
   --laranja: #ff7a00;
    --verde: #003e47;
}

body{
    background-color: var(--preto);
    color: var(--branco);
}




header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--preto);
    box-shadow: 2px 1px 20px 1px var(--dark);
    margin: 0 0 20px;
}

header #logo{
    width: 220px;
    height: 50px;
}


header #nav-bar #perfil,
header #nav-bar #filas{
    display: none;
}

header #nav-bar ul{
    list-style: none;
}

header #nav-bar ul li{
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
}

header #nav-bar ul li a{
    text-decoration: none;
    color: var(--branco);
    transition: all 0.8s;
}

header #nav-bar ul li a:hover{
    color: var(--laranja);
    transition: all 0.8s;
}

header #nav-bar ul li a i{
    margin: 5px;
}



main{
    text-align: center;
}

main .mobile{
    display: none;
}

main #section-principal img{
    width: 550px;
    height: 500px;
    border: 1px solid var(--preto);
    box-shadow: 2px 1px 20px 1px var(--dark);
    margin: 10px;
}

main #section-principal h1{
    color: var(--laranja);
    margin: 10px;
}

main #section-secundaria div{
    display: inline-block;
    border: 1px solid var(--preto);
    box-shadow: 2px 1px 20px 1px var(--preto);
    width: 90px ;
    height: 60px;
    margin: 5px;
    text-align: center;
    justify-content: space-between;
}

main #section-secundaria i{
    color: var(--laranja);
    margin: 10px;
}


footer{
    border-top: 1px solid var(--dark);
    margin: 20px 10px 0 10px;
    text-align: center;
}

footer #nav-footer{
    margin: 20px;
}

footer #nav-footer ul{
    list-style: none;
}

footer #nav-footer ul li{
    display: inline-block;
}

footer #nav-footer ul li a{
    text-decoration: none;
    color: var(--dark);
}

footer #nav-footer ul li a i{
    width: 100px;
    height: 100px;
}



/*
*********************************
******** Parte mobile ***********
*********************************
*/
@media (max-width: 480px){

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--preto);
        border: 1px solid var(--preto);
        box-shadow: var(--preto);
        margin: 0 0 20px;
    }

    header #nav-bar{
        display: none;
    }

    header #nav-bar ul li{
        display: block;
    }

    main #section-principal img{
        height: 480px;
        width: 380px;
        margin: 10px;
        box-shadow: var(--preto);
    }

    main #section-secundaria div{
        display: inline-block;
        border: 1px solid var(--preto);
        box-shadow: 2px 1px 20px 1px var(--dark);
        min-width: 180px;
        min-height: 50px;
        margin: 5px;
        text-align: center;
        justify-content: space-between;
    }

    main .desktop{
        display: none;
    }
    
    main .mobile{
        display: flex;
    }

    footer #nav-footer ul li a i{
        width: 100px;
        height: 100px;
    }
    
}





