<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar - Dev Solution</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/buscar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="bar">
            <label for="menu"><i class="fa-solid fa-bars"></i></label>
            <input type="checkbox" id="menu">
            <nav id="nav-menu">
                <ul>
                    <li id="home">
                        <a href="index.html"><i class="fa-solid fa-house"></i>Home</a>
                    </li>
                    <li id="login">
                        <a href="login.html"><i class="fa-solid fa-lock"></i>Login</a>
                    </li>
                    <li id="cadastrar">
                        <a href="cadastro.html"><i class="fa-solid fa-address-card"></i>Cadastrar</a>
                    </li>
                    <li id="buscar">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i>Buscar Oficina</a>
                    </li>
                    <li id="filas">
                        <a href="filas.html"><i class="fa-solid fa-chart-line"></i>Filas</a>
                    </li>
                    <li id="perfil">
                        <a href="perfil.html"><i class="fa-solid fa-user"></i>Perfil</a>
                    </li>
                </ul>
            </nav>
        </div>
        <img id="logo" src="/public/image/logo_fundo_transparente.png" alt="Logo da empresa dev solution - Homem mexendo no carro">
    </header>
    <main>
        <section id="section-img">
            <img class="mobile" src="/public/image/notebook com mão.png" alt="Imagem - Pessoa apontando o dedo para a tela do notebbok">
            <!--img class="desktop" src="/public/image/mercedes.jpg" alt="Imagem - carro rebaixado na garagem"-->
        </section>
        <h2>Localizar oficina</h2>
        <section id="section-map">
            <iframe id="iframe-map" src="https://www.google.com/maps/embed?pb=!4v1655475324934!6m8!1m7!1sauX7hC_dMDT4OaMu9eHvsw!2m2!1d-23.53975018144692!2d-46.7301905095871!3f227.686755511606!4f-17.682227294398544!5f0.7820865974627469" width="380" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section id="section-form">
            <form action="localizarOficina" method="get">
                <p> 
                    <label for="cep"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input type="number" name="cep" id="cep" placeholder="CEP">
                </p>
                <p>
                    <label for="endereco"><i class="fa-solid fa-location-dot"></i></label>
                    <input type="text" name="endereco" id="endereco" placeholder="Endereço">
                </p>
                <p>
                    <button type="submit" id="btn-buscar">Buscar</button>
                </p>
            </form>
        </section>
    </main>
    <footer>
        <nav id="nav-footer">
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </i>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>