<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filas - Dev Solution</title>
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/filas.css">
        <link rel="shortcut icon" href="/public/image/Logo_Icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="bar">
                <label for="menu"><i class="fa-solid fa-bars"></i></label>
                <input type="checkbox" id="menu">
                <nav id="nav-menu">
                    <ul>
                        <li id="home">
                            <a href="index.html"><i class="fa-solid fa-house"></i>Home</a>
                        </li>
                        <li id="login">
                            <a href="login.html"><i class="fa-solid fa-lock"></i>Login</a>
                        </li>
                        <li id="cadastrar">
                            <a href="cadastro.html"><i class="fa-solid fa-address-card"></i>Cadastrar</a>
                        </li>
                        <li id="buscar">
                            <a href="buscar.html"><i class="fa-solid fa-magnifying-glass"></i>Buscar Oficina</a>
                        </li>
                        <li id="filas">
                            <a href="#"><i class="fa-solid fa-chart-line"></i>Filas</a>
                        </li>
                        <li id="perfil">
                            <a href="perfil.html"><i class="fa-solid fa-user"></i>Perfil</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <img id="logo" src="/public/image/logo_fundo_transparente.png" alt="Logo da empresa dev solution - Homem mexendo no carro">
        </header>
        <main>   
            <div class="container-filter">
                <label for="car"></label>
                <select name="car" id="car">
                    <option value=" " selected disabled>Selecione o carro</option>
                    <option value="audi-a3">Audi A3</option>
                    <option value="cruze">Cruze</option>
                    <option value="toro">Toro</option>
                </select>
            </div>   
            <div class="container-box">
                <div class="box-1">
                    <p id="total-value">R$ 1554,00</p>
                    <p class="title-box">Total</p>
                </div>
                <div class="box-2">
                    <p id="total-value">R$ 8 446,00</p>
                    <p class="title-box">Saldo</p>
                </div>
                <div class="box-3">
                    <p id="total-value">2</p>
                    <p class="title-box">oficinas</p>
                </div>
            </div>
            <div class="container-data">
                <h3>Historico de serviços</h3>
                <table id="table-service">
                    <tr>
                      <th>Tipo de serviço</th>
                      <th>Valor</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td>Troca de pneu</td>
                      <td>R$ 1000,00</td>
                      <td class="status finish">Concluido</td>
                    </tr>
                    <tr>
                      <td>Revisão de 10k</td>
                      <td>R$ 500,00</td>
                      <td class="status running">Em andamento</td>
                    </tr>
                    <tr>
                        <td>Motor</td>
                        <td>R$ 7500,00</td>
                        <td class="status cancel">Cancelado</td>
                      </tr>
                  </table>
            </div>
        </main>
        <footer>
            <nav id="nav-footer">
                <ul>
                    <li>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </i>
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>