<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Dev Solution</title>
        <link rel="shortcut icon" href="/public/image/Logo_Icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/login.css">
    </head>
    <body>
        <header>
            <div class="bar">
                <label for="menu"><i class="fa-solid fa-bars"></i></label>
                <input type="checkbox" id="menu">
                <nav id="nav-menu">
                    <ul>
                        <li id="home">
                            <a href="index.html"><i class="fa-solid fa-house"></i>Home</a>
                        </li>
                        <li id="login">
                            <a href="login.html"><i class="fa-solid fa-lock"></i>Login</a>
                        </li>
                        <li id="cadastrar">
                            <a href="cadastro.html"><i class="fa-solid fa-address-card"></i>Cadastrar</a>
                        </li>
                        <li id="buscar">
                            <a href="buscar.html"><i class="fa-solid fa-magnifying-glass"></i>Buscar Oficina</a>
                        </li>
                        <li id="filas">
                            <a href="#"><i class="fa-solid fa-chart-line"></i>Filas</a>
                        </li>
                        <li id="perfil">
                            <a href="#"><i class="fa-solid fa-user"></i>Perfil</a> 
                        </li>
                    </ul>
                </nav>
            </div>
            <img id="logo" src="/public/image/logo_fundo_transparente.png" alt="Logo da empresa dev solution - Homem mexendo no carro">
        </header>
        <main>
            <div id="container">
                <img src="/public/image/login.png" alt="Logo do site - Um homem mexendo no carro">
                <h3>Bem vindo(a)!</h3>
                <form action="/paginaPrincipal" method="post">
                    <p>
                        <label for="email"><i class="fa-solid fa-envelope"></i></label>
                        <input type="email" name="email" id="email" placeholder="exemplo@gmail.com">
                    <p>
                    <p>
                        <label for="senha"><i class="fa-solid fa-key"></i></label>
                        <input type="password" name="senha" id="senha" placeholder="Senha">
                    </p>
                    <nav id="links-bar">
                        <ul>
                            <li><a href="">Esqueceu a senha?</a></li>
                            <li><a href="/src/view/cadastro.html">Criar conta</a></li>
                        </ul>
                    </nav>   
                    <button type="submit" id="btn-entrar">Entrar</button> 
                </form>
            </div>
        </main>
        <footer>
            <nav id="nav-footer">
                <ul>
                    <li>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </i>
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html> 